.navbar{
    background-color: rgb(18, 241, 141);
    /* padding: 10px 10px; */
    overflow: hidden;
}

div a{
    font-size: 25px;
    text-decoration: none;
    padding: 10px 10px;
    float: left;
}

.btn{
    font-size: 20px;
    background-color: aquamarine;
    border: none;
    padding: 13px 10px;
}

.dropdown-content{
    display: none;
    width: 112px;
    min-height: 50px;
    position: absolute;
    background-color: rgb(233, 167, 240);
    left: 246px;
    box-shadow: 11px 9px 16px 0px rgba(0,0,0,0.2);
    /* float: none; */
}

.dropdown-content a{
    display: block;
    width: 91px;
    /* float: none; */
}

.dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown{
    float: left;
  
  }

  div a:hover {
    background-color: blueviolet;
  }

  .dropdown-content a:hover{
       background-color: yellowgreen;
  }

  .dropdown .btn:hover{
    background-color: turquoise;
  }

  .container{
   background-image: url('wallpaper.jpg');
   height: 700px;
  }

  .txt{
    color: white;
    width: 400px;
  }

  .text {
      font-size: 20px;
      padding: 10px 10px;
  }

  .text2{
    border: 1px solid purple;
  }

  .footer-content{
    color: yellow;
    /* font-size: 40px !important; */
  }

  div.container div.txt.text.text2 div div.footer-content{
    font-size: 40px;
  }

  /* .inp{
    background-color: rgb(229, 41, 12);
  } */
  input[type="checkbox"] {
   background-color: brown;
    }